.classpath
.project
.metadata/
target/
.settings
WEB-INF/classes/
service/derby.log
service/.scala_dependencies
service/unittest_logfile.log
webgui/.gwt/
webgui/src/main/java/com/mawell/security/authentication/webgui/server/authenticationservice/
webgui/war/
webgui/unittest_logfile.log
*~
webgui/gwt-unitCache/
transaction.log
.DS_Store
.svn
*.bak
json/
*.iml
*.log
.idea
out
war
